*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul, ol {
  list-style: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: grey;
  display: flex;
  place-content: space-between;
  padding: 1rem;
}

ul {
  height: 100%;
}

nav ul {
  display: flex;
  gap: 1rem;
  place-items: center;
}

.hero {
  display: flex;
  place-content: space-between;
}

.hero__copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-content: center;
  place-items: center;
  background-color: coral;
  width: 100%;
}

.img-wrapper {
  padding: 2rem;
  background-color: coral;
}